<a href="https://colab.research.google.com/github/MatthewFried/MAT5001/blob/main/M_Fried_project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project 1

##Part 1: Regular Expressions

by Matthew Fried (no group)

In [ ]:
#Here is the data we will use for part 1

r_info = "555-1239Dr. Anthony Fauci(636) 555-0113Hollingdorp, Donnatella555-6542Fitzgerald, F. Sco\
tt555 8904Rev. Martin Luther King636-555-3226Snodgrass, Theodore5553642Carlamina Scarfoni"

###Question 0

We know that we didn't have to do this, but I wasn't paying attention when we read question one, and instead of extracting the text, we extracted the numbers. Since we spent a while doing this, we am including it.

The approach was to get rid of all the non-numeric data, then group it so that if there were more than 3 spaces it became a comma, and then split it into a list based on a comma delimiter.

In [ ]:
import re

def extractPhoneNumbers(info): 
  out = re.sub('\D',' ', info)
  out_1 = re.sub(r'\s\s\s+',',', out)
  li = list(out_1.split(",")) 
  del li[-1]
  return li 
  
print(extractPhoneNumbers(r_info))

['555 1239', '636  555 0113', '555 6542', '555 8904', '636 555 3226', '5553642']

###Question 1


Extract the names of each individual from the unformatted text string shown above and store them in a vector of some sort.  The general procedure follows from above, but we also used the noted link to remove whitespace.

In [ ]:
import re

def extractNames(info): 
  out = re.sub('[^A-Za-z,. ]+', '!', info)
  li = list(out.split("!")) 

  #to remove any whitespace spots in list via https://stackoverflow.com/a/38759529
  li = [x.strip() for x in li if x.strip()]
  return li 
  
next_val = extractNames(r_info)
print(next_val)

['Dr. Anthony Fauci', 'Hollingdorp, Donnatella', 'Fitzgerald, F. Scott', 'Rev. Martin Luther King', 'Snodgrass, Theodore', 'Carlamina Scarfoni']

###Question 2

**Task**: 
1. Use your regex skills to rearrange the vector so that all elements conform to the standard
“firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.
2. Using your regex skills, construct a logical vector indicating whether a character has a title (i.e.,
Rev. and Dr.).
3. Using your regex skills, construct a logical vector indicating whether a character has a middle/second name.

**Solution**:
We use a reordering of the information, block by block to address the issues above.  We create a function and loop through the vector previously created.

In [ ]:
def resetNameOrder(val):
  p = re.compile(r'(\w+)(\s*),(\s*)(\w+)')
  test_str = val
  subst = r"\4\2\3\1"
  result = re.sub(p, subst, test_str)
  string = re.sub('\.(?!$)', '', result)
  return string

for i in range(len(next_val)):
  next_val[i] = resetNameOrder(next_val[i])
  print(next_val[i])

Dr Anthony Fauci
Donnatella Hollingdorp
F Fitzgerald Scott
Rev Martin Luther King
Theodore Snodgrass
Carlamina Scarfoni

Here we match any of the necessary titles and print out True of False next to the name.

In [ ]:

def testForTitle(val):
  if re.match('(Dr|Rev|Mrs|Miss|Mr)+',val):
    print(True, "\t", val)
  else: 
    print(False, "\t", val)

for i in range(len(next_val)):
  testForTitle(next_val[i])

True 	 Dr Anthony Fauci
False 	 Donnatella Hollingdorp
False 	 F Fitzgerald Scott
True 	 Rev Martin Luther King
False 	 Theodore Snodgrass
False 	 Carlamina Scarfoni

Here we use logic to address whether or not the question is satisfied (as stated above).

In [ ]:
def middleName(val):
 res = re.split('\s+', val)
 if (((len(res)==3) and not((res[0] == 'Dr') or (res[0] == 'Rev'))) or (len(res)>3)):
  print(True, '\t', val)
 else:
  print(False, '\t', val)

for i in range(len(next_val)):
  middleName(next_val[i])

False 	 Dr Anthony Fauci
False 	 Donnatella Hollingdorp
True 	 F Fitzgerald Scott
True 	 Rev Martin Luther King
False 	 Theodore Snodgrass
False 	 Carlamina Scarfoni

###Question 3

We can't use <.+> for just the first title because it is greedy. As it says in the python docs:

```
The '*', '+', and '?' qualifiers are all greedy; they match as much text as possible.
Sometimes this behaviour isn’t desired; 
if the RE <.*> is matched against '<a> b <c>', 
it will match the entire string, and not just '<a>'.
Adding ? after the qualifier makes it perform the match 
in non-greedy or minimal fashion; as few characters 
as possible will be matched. Using the RE <.*?> will match only '<a>'.
```

As such, we just add a ? so that it is no longer 'greedy'.

In [ ]:
html_string = '<title>+++BREAKING NEWS+++<title>'
m = re.search('<.+?>', html_string)
if m:
  print(m)

<_sre.SRE_Match object; span=(0, 7), match='<title>'>

###Question 4

The issue here is that we want to reference the characters for an equation and not use their special meaning.  For instance, using carat already has a meaning in regex, therefore we must use backslash-carat to identify the character and not its meaning.  It is the same for all of the equation.  We then also need to make sure that we do not change the grouping and ordering of the equation based on parenthesis, etc. 

Below are attempts at the problem, I am not sure exactly what you meant, so I put two options (based on https://stackoverflow.com/a/51721894 and https://stackoverflow.com/a/22731086) . I wasn't otherwise sure how to get it to work as it should.

In [ ]:
q = '(5-3)^2=5^2-2*5*3+3^2'
regexparse = r'\d+|[+/*-]'
elem = re.findall(regexparse, q)
print(elem)

['5', '-', '3', '2', '5', '2', '-', '2', '*', '5', '*', '3', '+', '3', '2']

In [ ]:
text = '(5-3)^2=5^2-2*5*3+3^2'
pattern = r'([\=\+\-\%\*])'
result = re.split(pattern, text)
print(result)

['(5', '-', '3)^2', '=', '5^2', '-', '2', '*', '5', '*', '3', '+', '3^2']

##Part 2: Analyzing Chess Tournament Results

We initially uploaded our data to github, so that we have access on any system, and then place it in a dataframe.  The general approach is to use string manipulation as well as the 'extract' function from pd.Series to attack our problems and use regex. 

Details are explained below.

In [ ]:
import pandas as pd 
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/MatthewFried/MAT5001/main/Project1.txt", delimiter = "\t")

#show the beginning of the data
df.head(10)

  -----------------------------------------------------------------------------------------
0   Pair | Player Name                     |Total...
1   Num  | USCF ID / Rtg (Pre->Post)       | Pts ...
2  ----------------------------------------------...
3      1 | GARY HUA                        |6.0  ...
4     ON | 15445895 / R: 1794   ->1817     |N:2  ...
5  ----------------------------------------------...
6      2 | DAKSHESH DARURI                 |6.0  ...
7     MI | 14598900 / R: 1553   ->1663     |N:2  ...
8  ----------------------------------------------...
9      3 | ADITYA BAJAJ                    |6.0  ...

###Task 1

We separate our data so that we can cover each task with what is needed.  The first task is to create a DataFrame with the player name and total points.  All the steps are set out below.

In [ ]:
#The first three rows do now have any data that is relevant to me - so we drop them
a = df.iloc[3:]

#We now reset the index so that we are starting from 0 again
a = a.reset_index(drop=True)

#We set a dataframe for all the players and total points 
#Which is one of the initial questions we are tasked to address
names = a.iloc[::3, :]
names = names.reset_index(drop=True)

#We rename the data frame to names
names.columns = ['names']

#We set a dataframe for all the state and pretournament ratings
midstep = a.iloc[1:]
midestep = midstep.reset_index(drop=True)
state_and_rating = midstep.iloc[::3, :]

In [ ]:
#We convert the dataframe into a series because we can then use the 'extract' function for regex
the_series = names.T.squeeze()
the_series

0         1 | GARY HUA                        |6.0  ...
1         2 | DAKSHESH DARURI                 |6.0  ...
2         3 | ADITYA BAJAJ                    |6.0  ...
3         4 | PATRICK H SCHILLING             |5.5  ...
4         5 | HANSHI ZUO                      |5.5  ...
                            ...
59       60 | JULIA SHEN                      |1.5  ...
60       61 | JEZZEL FARKAS                   |1.5  ...
61       62 | ASHWIN BALAJI                   |1.0  ...
62       63 | THOMAS JOSEPH HOSMER            |1.0  ...
63       64 | BEN LI                          |1.0  ...
Name: names, Length: 64, dtype: object

In [ ]:
#We first extract the full name from the new Series
name_1 = the_series.str.extract(r'([A-Z]+\s[A-Z]+)')

#We then pull put the points for each person by finding where it is in the column
mid = the_series.str[41:44]

#We create a dataframe of the two columns that now represent my data
name_and_points = pd.DataFrame(name_1)
name_and_points.columns = ['Names']
name_and_points['Total Points'] = mid
name_and_points.head(10)

              Names Total Points
0          GARY HUA          6.0
1   DAKSHESH DARURI          6.0
2      ADITYA BAJAJ          6.0
3         PATRICK H          5.5
4        HANSHI ZUO          5.5
5       HANSEN SONG          5.0
6          GARY DEE          5.0
7  EZEKIEL HOUGHTON          5.0
8       STEFANO LEE          5.0
9         ANVIT RAO          5.0

###Task 2

We know process the state and pre-tournament rating from the information we have already set up.  Below we

In [ ]:
#We now 
#We convert the dataframe into a series because we can then use the 'extract' function for regex
die_Serie = state_and_rating.T.squeeze()

#We first extract the state from the new Series
state = die_Serie.str.extract(r'([A-Z]+)')

#We then pull put the pre-tournament rating for each person by finding where it is in the column
mid = die_Serie.str[31:35]

#We create a dataframe of the two columns that now represent my data
state_and_pretournament = pd.DataFrame(state)
state_and_pretournament.columns = ['State']
state_and_pretournament['Pre-Tournament'] = mid
state_and_pretournament.head(10)

   State Pre-Tournament
1     ON           1817
4     MI           1663
7     MI           1640
10    MI           1744
13    MI           1690
16    OH           1687
19    MI           1673
22    MI           1657
25    ON           1564
28    MI           1544

###Task 3

Currently, out of my league.

##Summary

We think we were able to address everything but the last task. Overall, this assignment was *much* harder than previous assignments, and *much* harder than expected.  We are very uncomfortable with using regex.